@use "./variables" as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $color-bg;
  color: $color-dark;
}

a {
  color: inherit;
}

.main {
  padding: 6rem 2rem 4rem;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .main {
    padding: 6rem 1.2rem 5rem;
  }
}
